.apiGroupFormModal {
  :global {
    .ant-modal-content {
      padding: 24px;
    }
  }
}

.apiGroupForm {
  :global {
    .ant-form-item {
      margin-bottom: 16px;
    }

    .ant-input,
    .ant-input-number {
      width: 100%;
    }

    .ant-input-textarea {
      resize: vertical;
      min-height: 100px;
    }
  }
} 